langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
langchain-huggingface
langchain-groq
langchain-pinecone
langchain-google-genai

python-dotenv
ipykernel
pypdf
pymupdf
bs4
arxiv
wikipedia
unstructured
pytube
youtube_transcript_api
playwright

chromadb
faiss-cpu
duckdb
mysql-connector-python
SQLAlchemy
validators==0.28.1
numexpr
huggingface_hub
sentence_transformers
google-generativeai
openai

# ✅ Correct Pinecone SDKs (fixed imports)
pinecone-client
pinecone-text
